<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    Beneficios de Premium
  </div>

  <div class="plan-list">
    <div class="plan-item">
      <div class="plan-title">
        Premium Individual
      </div>
      <div class="plan-description">
       Solo escucha musica
      </div>
    </div>

    <div class="plan-item color-2">
      <div class="plan-title">
        Premium Musico
      </div>
      <div class="plan-description">
        2 Cuentas para esuchar musica
      </div>
    </div>

  

    <div class="plan-item color-4">
      <div class="plan-title">
        Gratis
      </div>
      <div class="plan-description">
        Escucha musica solo unos meses
      </div>
    </div>
  </div>

  <ion-list class="ion-margin-bottom">
    <ion-item button lines="none" href="https://www.facebook.com/ariel.baco" target="_blank">
      <ion-icon name="open-outline" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">
        Contacto <strong> Administrador</strong>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
