<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">Buscar</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Artista, cancion o album"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label><strong>Buscar Toda la Musica</strong></ion-label>
  </ion-item>




  <div class="category-list">
    <div class="category-item" *ngFor="let element of Albums" (click)="redirectToAlbumDetail(element.AlbumID)">
      <div class="title">
        {{ element.TituloAlbum }} 
      </div>
      <img class="card-thumbnail" src="{{ element.RutaImagen}}" alt="Song Icon">
    </div>
    


  </div>
</ion-content>
